.stripe-field-container {
  background: #fff;
  border: 1px solid #ececec;
  border-radius: 10px;
  padding-left: 20px;

  &.focus {
    border-color: #bce3c9;
  }
}

.form {
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
  position: relative;
  padding: 40px;
  padding-top: calc(373px / 2);
}

.card-preview {
  position: absolute;
  top: 0;
  left: 50%;
  width: max-content;
  min-width: 430px;
  transform: translate(-50%, -50%);
}
