.cta-heading {
  margin-bottom: 2.2rem;
}

.btn {
  min-width: 178px;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  height: 100%;
}

@media screen and (max-width: 575px) {
  .btn {
    margin-top: 10px;
    border-top-left-radius: 30rem !important;
    border-bottom-left-radius: 30rem !important;
  }

  .input-group-append {
    display: flex;
    justify-content: center;
  }
}
