.cta-border-image {
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  padding: 1rem;
}

.cta-border-wrapper {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

.cta-text {
  max-width: 380px;
}

.cta-title {
  font-weight: 400;
  letter-spacing: -0.025em;
  margin-bottom: 0;
}

.cta-desc {
  margin-bottom: 2rem;
  color: #999;
  font-size: 1.6rem;
  line-height: 1.5;
}

.social-icon {
  width: 4.6rem;
  height: 4.6rem;
  font-size: 1.8rem;
}

.form-control {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.btn {
  min-width: 70px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

@media screen and (min-width: 768px) {
  .cta-title {
    font-size: 3rem;
  }
}
