.product-countdown {
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: 0;
  z-index: 6;
  transition: all .4s ease;
  visibility: visible;
  opacity: 1;
  border-radius: 0.2rem;
  background-color: #39f;
  padding: 0.7rem 0.5rem 0.6rem;
}
.product-countdown .countdown-section:not(:last-child):after {
  font-weight: 400;
  font-size: 1.6rem;
  margin-left: -0.1rem;
}
.countdown-amount {
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: -0.01em;
  margin-bottom: 0;
}
.countdown-period {
  color: #fff;
  display: block;
  letter-spacing: 0;
}

.countdown-row {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.countdown-section {
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-size: 75%;
  background-color: transparent;
}


/** jQuery */
.countdown-rtl {
  direction: rtl;
}
.countdown-holding span {
  color: #888;
}

.countdown-row:after {
  content: "";
  display: table;
  clear: both;
}
.countdown-period {
  display: block;
}
.countdown-descr {
  display: block;
  width: 100%;
}
.countdown-separator .countdown-section:not(:last-child):after {
  content: ":";
  display: inline-block;
  font-size: 30px;
  line-height: 1;
  position: absolute;
  left: 100%;
  margin-left: 8px;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
